In [174]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
from collections import Counter
import itertools

In [175]:
data = pd.read_csv('/Users\Darya\Desktop/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1810,tt0160127,92000000,264105545,Charlie's Angels,Cameron Diaz|Lucy Liu|Drew Barrymore|Bill Murr...,McG,Get Some Action,Aspects of this take on the 1970s hit TV serie...,98,Action|Adventure|Comedy|Crime|Thriller,Columbia Pictures,11/2/2000,5.5,2000
988,tt1772341,165000000,471222889,Wreck-It Ralph,John C. Reilly|Sarah Silverman|Jane Lynch|Jack...,Rich Moore,The story of a regular guy just looking for a ...,"Wreck-It Ralph is the 9-foot-tall, 643-pound v...",108,Family|Animation|Comedy|Adventure,Walt Disney Animation Studios,11/1/2012,7.0,2012
743,tt1411697,80000000,254455986,The Hangover Part II,Bradley Cooper|Ed Helms|Zach Galifianakis|Just...,Todd Phillips,The Wolfpack Is Back,The Hangover crew heads to Thailand for Stu's ...,102,Comedy,Legendary Pictures|Living Films|Green Hat Film...,5/25/2011,6.1,2011
955,tt0280760,9000000,4777465,Igby Goes Down,Kieran Culkin|Claire Danes|Jeff Goldblum|Jared...,Burr Steers,Insanity is relative.,A young man's peculiar upbringing renders him ...,97,Comedy|Drama,United Artists,9/13/2002,6.5,2002
166,tt2883512,11000000,45967935,Chef,Jon Favreau|John Leguizamo|Bobby Cannavale|Emj...,Jon Favreau,Starting from scratch never tasted so good,A chef who loses his restaurant job starts up ...,115,Comedy,Open Road Films|Aldamisa Entertainment|Kilburn...,5/8/2014,7.2,2014

In [176]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [177]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue'] - data['budget'] # отдельная колонка - прибыль
data['director_list'] = data['director'].apply(lambda x: x.split('|')) 

# применить функции ниже подсказали ребята с работы, объяснив принципы работы данных функций.
# моё исходное решение включало в себя миллион разных циклов для решения последних 10 задач, 
# но я решила от них отказаться в пользу практичности

#Подсчет значений одной колонки name с разделителем |.
def counter_value(df, name): 
    temp_data = df[name].str.cat(sep='|')
    return pd.Series(temp_data.split('|')).value_counts(ascending=False)

#Создадим новый датафрейм со значениями колонки col_basic основного датафрейма,разбив её по разделителю |
def get_df(data,col_basic,*columns): 
    df_new = pd.DataFrame(data[col_basic].str.split('|').tolist()).stack().reset_index()
    df_new.columns = ['row_index','row2',col_basic]
    for col in columns:
        df_new[col] = df_new.row_index.apply(lambda x : data.iloc[x][col])
        
        return df_new

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [178]:

answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [179]:
data.query('budget==budget.max()')["original_title"]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [180]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [181]:
data.query('runtime==runtime.max()')["original_title"]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [182]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [183]:
data.query('runtime==runtime.min()')["original_title"]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [184]:
answers['4'] = '2. 110'

In [185]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [186]:
answers['5'] = '1. 107'

In [187]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [188]:
answers['6'] = '5. Avatar (tt0499549)'

In [189]:
data.query('profit==profit.max()')["original_title"]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [190]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [191]:
data.query('profit==profit.min()')["original_title"]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [192]:
answers['8'] = '1. 1478'

In [193]:
len(data[data['revenue'] > data['budget']])

1478

In [194]:
len(data[data.profit > 0].index)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [195]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [196]:
movie2008 = data.query('release_year == 2008')
movie2008.query('profit == profit.max()')["original_title"]

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [197]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [198]:
movie2012_2014 = data.query('2012 <= release_year <= 2014')
movie2012_2014.query('profit == profit.min()')['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [199]:
answers['11'] = '3. Drama'

In [200]:
import collections

genre_counter = collections.Counter()

for genres in data['genres']:
    genres_list = genres.split('|')
    for genre in genres_list:
        genre_counter[genre] +=1

print(genre_counter)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

ВАРИАНТ 2

In [201]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [202]:
answers['12'] = '1. Drama'

In [203]:
pd.DataFrame(data[data['profit']>0]['genres'].str.split('|').tolist()).stack().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [204]:
answers['13'] = '5. Peter Jackson'

In [205]:
data.groupby('director')['revenue'].sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [206]:
answers['14'] = '3. Robert Rodriguez'

In [207]:
genre_action = data[data['genres'].apply(lambda x : 'Action' in x)]
counter_value(genre_action,'director').head(5)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [208]:
answers['15'] = '3. Chris Hemsworth'

In [209]:
movie_2012 = data[data.release_year==2012]
films = movie_2012[movie_2012.revenue>movie_2012.revenue.mean()]
pd.Series(films['cast'].str.cat(sep='|').split('|')).value_counts().head(10)

Kristen Stewart      2
Ralph Fiennes        2
Emma Thompson        2
Denis Leary          2
Taylor Kitsch        2
Sacha Baron Cohen    2
Charlize Theron      2
Anne Hathaway        2
Liam Neeson          2
Rosamund Pike        2
dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [210]:
answers['16'] = '3. Matt Damon'

In [211]:
counter_value(data[data.budget > data.budget.mean()], 'cast')

Matt Damon                 18
Adam Sandler               17
Angelina Jolie             16
Tom Cruise                 15
Eddie Murphy               15
Samuel L. Jackson          15
Russell Crowe              14
Mark Wahlberg              14
Hugh Jackman               14
Ben Stiller                14
Jamie Foxx                 14
Johnny Depp                13
Will Smith                 13
Jude Law                   13
Bruce Willis               13
Ian McKellen               12
Cameron Diaz               12
Robert De Niro             12
Dwayne Johnson             12
Nicolas Cage               12
Brad Pitt                  12
Owen Wilson                12
Leonardo DiCaprio          11
Daniel Craig               11
Robert Downey Jr.          11
Steve Buscemi              11
Emma Watson                10
Denzel Washington          10
Orlando Bloom              10
Mark Ruffalo               10
                           ..
Armand Assante              1
Kevin McNally               1
Charlie Hewson              1
Tim Blake Nelson            1
Eddie Kaye Thomas           1
AdriÃ¡n Alonso Barona       1
Stephen Rea                 1
Marc Anthony                1
Charlie Cox                 1
Denis O'Hare                1
Garry Marshall              1
Eddie Deezen                1
Jack McBrayer               1
Jason Alexander             1
Alexander Gould             1
Lester Speight              1
Cameron Richardson          1
Max Casella                 1
Nathalie Kelley             1
Steve Burton                1
Simon McBurney              1
Ryan Potter                 1
Blythe Danner               1
Ian Holm                    1
Andrea Riseborough          1
Jerry O'Connell             1
Jeremy Northam              1
Ã“lafur Darri Ã“lafsson     1
Philip Winchester           1
Raven-SymonÃ©               1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [212]:
answers['17'] = '2. Action'

In [213]:
df_cast = data[data['cast'].apply(lambda x: 'Nicolas Cage' in x)]
counter_value(df_cast, 'genres')

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Horror              1
War                 1
Romance             1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [214]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [215]:
df_temp = data[(data['production_companies'].apply(lambda x : 'Paramount Pictures' in x))]
df_temp[df_temp['profit'] == df_temp['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,director_list
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,[Kathryn Bigelow]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [216]:
answers['19'] = '5. 2015'

In [217]:
data.groupby('release_year')['profit'].sum().sort_values(ascending = False).head(1)

release_year
2015    18668572378
Name: profit, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [218]:
answers['20'] = '1. 2014'

In [219]:
df_temp = data[(data['production_companies'].apply(lambda x : 'Warner Bros' in x))]
df_temp.groupby('release_year')['profit'].sum().sort_values(ascending = False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [220]:
answers['21'] = '4. Сентябрь'

In [221]:
data['month'] = data['release_date'].apply(lambda x : re.match('\d*',x).group(0))
data.groupby('month')['original_title'].count().sort_values(ascending = False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [222]:
answers['22'] = '2. 450'

In [223]:
data['month'] = data['release_date'].apply(lambda x : re.match('\d*',x).group(0))
len(data.query('month in ["6","7","8"]'))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [224]:
answers['23'] = '5. Peter Jackson'

In [225]:
data = pd.read_csv('/Users\Darya\Desktop/movie_bd_v5.csv')
data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
data = data.loc[(data.month=='1') | (data.month=='2') | (data.month=='12')]
grouped = data.groupby(['director'])['original_title'].count().sort_values(ascending=False)
display(grouped)

director
Peter Jackson                          7
Steven Soderbergh                      6
Clint Eastwood                         6
Nancy Meyers                           4
Adam Shankman                          4
Shawn Levy                             4
Martin Scorsese                        4
Steven Spielberg                       3
Tim Burton                             3
Rob Marshall                           3
Patrick Lussier                        3
Ridley Scott                           3
Edward Zwick                           3
Donald Petrie                          3
Wayne Wang                             3
Marc Lawrence                          3
Lasse HallstrÃ¶m                       3
Brad Anderson                          2
Bobby Farrelly|Peter Farrelly          2
P.J. Hogan                             2
Gregory Hoblit                         2
Ron Howard                             2
Glenn Ficarra|John Requa               2
Brian Levant                           2
Paul McGuigan                          2
George Clooney                         2
Bryan Singer                           2
Paul Thomas Anderson                   2
Cameron Crowe                          2
Ken Kwapis                             2
                                      ..
Michel Gondry                          1
Miguel Arteta                          1
Mikael HÃ¥fstrÃ¶m                      1
Mike McCoy|Scott Waugh                 1
Michael Lembeck                        1
Mike Mitchell                          1
MÃ¥ns MÃ¥rlind|BjÃ¶rn Stein            1
Neil Marshall                          1
Neil Nightingale|Barry Cook            1
Nick Cassavetes                        1
Nick Hurran                            1
Michael Rymer                          1
Mennan Yapo                            1
Kurt Wimmer                            1
Mark Dindal                            1
Lana Wachowski|Lilly Wachowski         1
Lee Tamahori                           1
Len Wiseman                            1
Lexi Alexander                         1
Louis Leterrier                        1
Malcolm D. Lee                         1
Mark Neveldine|Brian Taylor            1
McG                                    1
Mark Pellington                        1
Martin McDonagh                        1
Matt Bettinelli-Olpin|Tyler Gillett    1
Matt Reeves                            1
Matthew O'Callaghan                    1
Matthew Vaughn                         1
Aaron Seltzer|Jason Friedberg          1
Name: original_title, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [226]:
answers['24'] = '5. Four By Two Productions'

In [227]:
df_temp = get_df(data,'production_companies','original_title')
df_temp['len_title'] = df_temp['original_title'].apply(lambda x : len(x))
df_temp.groupby('production_companies')['len_title'].max().sort_values(ascending = False)

production_companies
Walt Disney                                              62
Walden Media                                             62
1492 Pictures                                            50
Sunswept Entertainment                                   50
Ingenious Film Partners                                  50
Fox 2000 Pictures                                        50
Dune Entertainment                                       50
WingNut Films                                            49
The Saul Zaentz Company                                  49
New Line Cinema                                          49
Scott Rudin Productions                                  47
Paramount Pictures                                       47
Kumar Mobiliengesellschaft mbH & Co. Projekt Nr. 2 KG    47
DreamWorks Pictures                                      47
Nickelodeon Movies                                       47
Tim Burton Productions                                   46
Zanuck Company, The                                      46
Parkes+MacDonald Image Nation                            46
Warner Bros.                                             46
3Foot7                                                   41
Metro-Goldwyn-Mayer (MGM)                                41
Disruption Entertainment                                 40
United Plankton Pictures                                 40
Nickelodeon Animation Studios                            40
Regency Enterprises                                      39
Bagdasarian Productions                                  39
Moving Picture Company (MPC)                             39
21 Laps Entertainment                                    39
TSG Entertainment                                        39
Twentieth Century Fox Film Corporation                   39
                                                         ..
Stars Road Entertainment                                  7
Storefront Films                                          7
Wayfare Entertainment                                     7
Outerbanks Entertainment                                  6
Spitfire Pictures                                         6
Alliance Atlantis Communications                          6
Lightstorm Entertainment                                  6
Exclusive Media Group                                     6
Hypnotic                                                  6
Evolution Entertainment                                   6
Burg/Koules Productions                                   6
Kalis Productions GmbH & Co. Zweite KG                    6
Front Street Productions                                  6
SND                                                       6
Bold Films                                                6
Sony Pictures Entertainment (SPE)                         5
Zaftig Films                                              5
Grive Productions                                         5
Emmett/Furla Films                                        5
Cloud Eight Films                                         5
Night Chronicles                                          5
Motel Movies                                              5
Media Rights Capital                                      5
TPS Star                                                  5
Kramer & Sigman Films                                     5
Toma 78                                                   4
De Milo                                                   4
Mandate Pictures                                          4
Infinity Features Entertainment                           4
Big Talk Productions                                      4
Name: len_title, Length: 668, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [228]:
answers['25'] = '3. Midnight Picture Show'

In [229]:
data = pd.read_csv('/Users\Darya\Desktop/movie_bd_v5.csv')
df = pd.DataFrame()
for index, row in data.iterrows():
    word = row['overview'].split(' ')
    company = row['production_companies'].split('|')
    for i in company:
        df = df.append(row,ignore_index=True)
        df.loc[df.index[-1],'production_companies'] = i
        df.loc[df.index[-1],'overview']=len(word)
       #print(type(len(word)))
df
df.groupby(['production_companies'])['overview'].mean().sort_values().tail()

production_companies
Brookwell-McNamara Entertainment    156.0
98 MPH Productions                  159.0
Heineken Branded Entertainment      161.0
Room 9 Entertainment                161.0
Midnight Picture Show               175.0
Name: overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [230]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [231]:
df_temp = data[data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average']]
df_temp[['original_title','vote_average']].sort_values('vote_average',ascending = False)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [232]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [233]:
# не получается подцепить explode, в другой программе работает
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
from collections import Counter
import itertools
data = pd.read_csv('/Users\Darya\Desktop/movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
from itertools import combinations
data['pairs'] = data['cast'].apply(lambda s: list(combinations(s, 2)))
data = data.explode('pairs')
collections.Counter(data['pairs']).most_common(1)

AttributeError: 'DataFrame' object has no attribute 'explode'

ВАРИАНТ 2

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)